form table{
    width: 600px;
    margin: auto;
    margin-top: 25px;
}
form table td{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
form table td:first-child{

}
form table input[type="text"], form table input[type="password"]{
    height: 25px;
    font-size: 16px;
    width: 51ex;
}
form table select{
    height: 25px;
    font-size: 16px;
}
form table textarea{
    font-family: inherit;
    font-size: 16px;
    width: 51ex;
}
form table .submit{
    height: 35px;
    border: 0;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background: none;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
}

form table td.header{
    font-size: 24px;
    padding: 20px;
    padding-left: 0px;
    font-weight: bold;
    letter-spacing: 0.2ex;
}

form#email_register_form input{
}
form#email_register_form select{
    height: 27px;
}
form#email_register_form input[type="text"]{
    width: 200px;
}

form input[type="submit"],form input[type="button"]{
    line-height: 40px;
    height: 45px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    opacity: 0.8;
    color: #666;
}

form input[type="submit"]:hover,form input[type="button"]:hover{
    /*opacity: 1;*/
    color: #000;
}

form#registerForm input{
    font-weight: bold;
    letter-spacing: 1px;
}
