.menu  a {
	text-decoration:none;
	color:#333;
}


/*left_menu starts*/
ul.left_menu{
	text-align:left;
	line-height:20px;
	margin-left:20px;
	margin-right:20px;
}
ul.left_menu > li{
	padding-left:10px;
	padding-top:10px;
	border-bottom:1px dashed #ddd;
	letter-spacing:1px;
	color:#aaa;
}
ul.left_menu > li.selected a{
	color:#000;
}
ul.left_menu > li:last-child{
	border-bottom:none;
}

/*left_menu ends*/

.left_menu a {
	color:#999;
}

/* subcategory list starts*/
ul#sub_category_menu{

}
/* subcategory list ends*/

