html,body{
	height:100%;
	text-align:center;
}
div#page{
	height:100%;
	position:relative;
	width:950px;
	margin-left:auto;
	margin-right:auto;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	box-shadow:0px 0px 40px 5px #ccc;
	overflow:hidden;
}
div#page > div#header{
	height:145px;
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	border-bottom:1px solid #ddd;
	z-index:1;
	box-shadow:0px 0px 5px 1px #ddd;
}
div#page > div#content{
	position:relative;
	padding-top:145px;
	box-sizing:border-box;
	height:100%;
	z-index:0;
}
div#page > div#content > div{
	float:left;
	box-sizing:border-box;	
}
div#page > div#content > div#left{
	height:100%;
	width:215px;
	border-right:1px solid #ddd;
}

div#page > div#content > div#center{
	height:100%;
	width:735px;
}


div#center{
	text-align:center;
	overflow:auto;
}